table {
  margin: 0 auto;
  width: auto;
}
.tooltip {
  margin: 0;
  position: absolute;
  color: white;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px;
  font-style: normal;
  text-align: center;
  font-family: "Exocet Blizzard";
  background-color: rgba(100, 100, 100, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.div {
  margin: 0;
  padding-bottom: 0;
  letter-spacing: 1px;
  color: #dba736;
  font-family: "Exocet Blizzard";
  font-size: 30px;
}
.demoWrap {
  margin: 0 auto;

  display: flex;
  flex-direction: row;
}
.demoInput {
  border: 1px solid #f1bc28;
  border-radius: 15px;
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.7);

  box-sizing: border-box;
  color: #f1bc28;
  font-size: 16px;
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  max-width: 40%;
  min-height: 500px;
  min-width: 40%;
}

.demoStones {
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #f1bc28;
  border-radius: 15px;
  margin: 1% 1% 1% 1%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 1% 1% 1% 1%;
  box-sizing: border-box;
  flex-grow: 1;
}

.gemsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 56px);
  grid-template-rows: repeat(auto-fill, 56px);
  min-height: 400px;
}
.gemItem {
  background-size: 100% 100%;
  width: 56px;
  height: 56px;
  cursor: grab;
  position: relative;
}
.slotContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 124px);
  grid-template-rows: repeat(auto-fill, 236px);
  max-width: 1200px;
}
.weaponItem {
  width: 130px;
  height: 230px;
  align-items: center;
  background-size: cover;
}
.slotItem > .weaponItem {
  position: absolute;
}
.armorItem {
  width: 130px;
  height: 230px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.helmetItem {
  width: 140px;
  height: 140px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.shieldItem {
  width: 130px;
  height: 230px;
  background-size: cover;
}

td {
  word-wrap: break-word;
}

h1 {
  font-family: "Exocet Blizzard";
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #f1bc28;
  text-shadow: 3px 3px 1px black;
}
h2 {
  font-family: "Exocet Blizzard";
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #f1bc28;
  text-shadow: 3px 3px 1px black;
}
footer {
  font-family: "Exocet Blizzard";
  font-size: 11px;
  margin: 0;
  padding: 20px 0;
  color: #f1bc28;
  text-shadow: 3px 3px 1px black;
}

p {
  color: #f1bc28;
  font-size: 16px;
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

html {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}
body {
  border: 1px solid black;
  margin: 0;
  padding: 8px;
  background: url("../images/back.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: "Exocet Blizzard";
  src: url("../fonts/exocet-blizzard-medium.eot");
  src: url("../fonts/exocet-blizzard-medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/exocet-blizzard-medium.woff") format("woff"),
    url("../fonts/exocet-blizzard-medium.ttf") format("truetype"),
    url("../fonts/exocet-blizzard-medium.svg#svgExocetReaper") format("svg");
}
html {
  --color: rgb(231, 169, 36);
  --white: rgb(255, 255, 255);
  --black: rgb(35, 35, 35);
  --darkTransparent: rgba(0, 0, 0, 0.75);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  font-size: 11pt;
  font-family: "Exocet Blizzard";
  max-width: 1200px;
  display: flex;
  position: relative;
  height: 46px;
  margin: 0 auto;
  justify-content: center;
}
.nav ul {
  list-style: none;
}
.nav a {
  text-decoration: none;
}
.visible-menu {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  max-height: 46px;
  overflow: hidden;
}
.visible-menu.active {
  max-height: max-content;
  overflow: visible;
}
.visible-menu a {
  display: block;
  padding: 14px 20px;
  font-size: 16px;
  color: var(--color);
  background: var(--darkTransparent);
}
.visible-menu a:hover {
  background: var(--color);
  color: var(--white);
}
.burger {
  width: 60px;
  height: 100%;
  right: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: var(--color);
  color: var(--white);
  cursor: pointer;
}
.burger svg {
  transition: 0.4s;
}
.burger.active svg {
  transform: rotate(90deg);
}

@media only screen and (min-width: 800px) {
  .visible-menu {
    flex-direction: row;
    width: auto;
  }
  .visible-menu a {
    background: transparent;
  }
  .burger {
    display: none;
  }
}

.imgSet {
  display: flex;
  border: 2px solid var(--color);
  margin: 0 auto;
}

.item img {
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#progressBar {
  height: 40px;
  width: 0%;
  background-color: blue;
}

.slotItem {
  background-size: 100% 100%;
  margin: 30px auto;
  position: relative;
}
.slotItem__weapon,
.slotItem__shield {
  width: 130px;
  height: 230px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
}
.slotItem__armor {
  width: 140px;
  height: 240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.slotItem__helmet {
  width: 140px;
  height: 140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.slotItem--count-1 {
  display: block;
}
.slotItem--count-1 div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -28px;
  margin-top: -28px;
}
.slotItem--count-2 {
  display: block;
}
.slotItem--count-2 div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -28px;
  margin-top: -56px;
}
.slotItem--count-2 div:nth-child(3) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -28px;
  margin-top: 0;
}
.slotItem--count-3 {
  display: block;
}
.slotItem--count-3 div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -28px;
  margin-top: -56px;
}
.slotItem--count-3 div:nth-child(3) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -56px;
  margin-top: 0;
}
.slotItem--count-3 div:nth-child(4) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0;
  margin-top: 0;
}
.slotItem--count-4 {
  display: block;
}
.slotItem--count-4 div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0px;
  margin-top: -56px;
}
.slotItem--count-4 div:nth-child(3) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -56px;
  margin-top: -56px;
}
.slotItem--count-4 div:nth-child(4) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0;
  margin-top: 0;
}
.slotItem--count-4 div:nth-child(5) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -56px;;
  margin-top: 0;
}
.slotItem--count-5 {
  display: block;
}
.slotItem--count-5 div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0px;
  margin-top: 40px;
}
.slotItem--count-5 div:nth-child(3) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -56px;
  margin-top: 40px;
}
.slotItem--count-5 div:nth-child(4) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -28;
  margin-top: -20;
}
.slotItem--count-5 div:nth-child(5) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -56px;;
  margin-top: -90px;
}
.slotItem--count-5 div:nth-child(6) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0px;
  margin-top: -90px;
}
.modal-root {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.modal-content {
  padding: 20px;
  background: #000;
  color: #fff;
  flex-grow: 0;
  position: relative;
  z-index: 1;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
}
