table {
    margin: 0 auto;
    table-layout: fixed;
    
}
.containers {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  
}

.textform {
  border: 1px solid #eee;
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  
  box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);

}

.imageform {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #eee;
  margin: 1% 1% 1% 1%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 1% 1% 1% 1%;
  box-sizing: border-box;
  max-width: 30%;
  min-width: 30%;
  float: right;
}

td {
    word-wrap:break-word;
}

  h1  {
    font-family: "Exocet Blizzard";
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
  }
  h2
  { font-family: "Exocet Blizzard";
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
  }
 footer {
    font-family: "Exocet Blizzard";
    font-size: 11px;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
  }

  @font-face {
    font-family: "Exocet Blizzard";
    src: url('../fonts/exocet-blizzard-medium.eot');
    src: url('../fonts/exocet-blizzard-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exocet-blizzard-medium.woff') format('woff'),
         url('../fonts/exocet-blizzard-medium.ttf') format('truetype'),
         url('../fonts/exocet-blizzard-medium.svg#svgExocetReaper') format('svg');
   }
   html {
    --color: rgb(231, 169, 36);
    --white: rgb(255, 255, 255);
    --black: rgb(35, 35, 35);
    --darkTransparent: rgba(0, 0, 0, 0.75);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav {
    width: 100%;
    font-size: 11pt;
    font-family: "Exocet Blizzard";
    max-width: 1200px;
    display: flex;
    position: relative;
    height: 46px;
    margin: 0 auto;
    justify-content: center;
  }
  .nav ul {
    list-style: none;
  }
  .nav a {
    text-decoration: none;
  }
  .visible-menu {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    max-height: 46px;
    overflow: hidden;
  }
  .visible-menu.active {
    max-height: max-content;
    overflow: visible;
  }
  .visible-menu a {
    display: block;
    padding: 14px 20px;
    font-size: 16px;
    color: var(--color);
    background: var(--darkTransparent);
  }
  .visible-menu a:hover {
    background: var(--color);
    color: var(--white);
  }
  .burger {
    width: 60px;
    height: 100%;
    right: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: var(--color);
    color: var(--white);
    cursor: pointer;
  }
  .burger svg {
    transition: 0.4s;
  }
  .burger.active svg {
    transform: rotate(90deg);
  }
  
  @media only screen and (min-width: 800px) {
    .visible-menu {
      flex-direction: row;
      width: auto;
    }
    .visible-menu a {
      background: transparent;
    }
    .burger {
      display: none;
    }
  }
  
.imgSet{
  display: flex;
  border: 2px solid var(--color);
  margin: 0 auto;
}

.item img {
    width: 100%;
    height: auto;
    }

    .container {
      display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
#progressBar {
  height: 40px;
  width: 0%;
  background-color: blue;
}

.windowscreen {
  border: 1px solid #eee;
  margin: 10px 10px 10px 10px;
  padding: 5px;
  padding-right: 5px;
  padding-left: 5px;

}
.videoclass {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.md-6 {
  min-width: 100%;
  width: 100%;
}
.md-auto {
  min-width: 100%;
  width: 100%;
}
.md {
  flex-grow: 1;
  min-width: 100%;
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .md-6 {
    min-width: 50%;
    width: 50%;
  }
  .md {
    flex-grow: 1;
    min-width: auto;
    width: auto;
  }
  .md-auto {
    min-width: auto;
    width: auto;
  }
}